body {
    background-color: #ffeeee;
    font-family: "freight-text-pro", "serif";
}
#container {
  padding: 1em;
  display: grid;
  grid-template-columns: 20% auto 40%;
}

#nav {

    grid-column: 1;
}
img {
    width: 80%;
}
#main {
    grid-column: 2;
}

.caption-image {
    padding: 0.5em;
    margin-bottom: 1em;
}
#right {
    grid-column: 3;
}

#main p {
    padding: 1em;
    font-size: 16pt;
}
