body {
    background-color: #ffeeee;
    font-family: "freight-text-pro", "serif";
}

img {
    /* max-width: 50%; */
    border: 1px solid #aaa;
}

ul { list-style-type: none; }


#en {
    padding-bottom: 0.2em;
}

#ru {
    padding-bottom: 0.2em;
}

#container {
  padding: 1em;
  display: grid;
  grid-template-columns: 15% auto 45%;
}

#nav {
    padding-top: 1em;
    grid-column: 1;
}

#main {
    grid-column: 2;
}

.captioned-image {
    padding: 0.5em;
    margin-bottom: 1em;
    text-align: center;
}
#right {
    grid-column: 3;
}

#main p {
    padding: 1em;
    font-size: 16pt;
}

#right img { margin-bottom: 1em; }
