body {
    background-color: #ffeeee;
}
#container {
  padding: 1em;
  display: grid;
  grid-template-columns: 20% auto 40%;
}

#nav {
    font-size: 14pt;
    grid-column: 1;
}
img {
    width: 80%;
}
#images {
    grid-column: 2;
}

.caption-image {
    padding: 0.5em;
    margin-bottom: 1em;
}